{% load staticfiles %}

<html>
	<head>
		<title>Compare mobiles</title>
	</head>
	
	<body>
		<form action="/compare/add/" method="POST">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Add">
			
		</form>
		<a href = "/compare/remove/">Remove All</a>
		
		{% if request.session.m %}
		
			{% for m in mobile %}
			
				<li><div style = "border: 1px solid; margin-bottom: 5px; padding-left: 10px; width:350px; height: 150px;">
						<h2><div style = "float:left;"><img src = "{% static 'mobiles/'%}{{ m }}.jpg" height = "100" width = "80"></div>
						<div style = "margin-left: 150px; padding-top: 10px;"><a href = "/compare/specs/{{ m }}">{{ m }}</a></h2>
						<h4 style = "margin-left: 150px;">{{ m.price }}</h4></div></li>
					</div>
			{% endfor %}
		{% endif %}
		<br><iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-143618759283822013" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
		
				
	</body>

</html>
